/* Base Rules */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, td, th, p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9rem;  /* 10pt */
	color: #333;
	line-height: 1.5;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #fdfdfd;
	width: 100%;
	margin: 0;
}

img, embed, object, video {
  max-width: 100%;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9rem;  /* 10pt */
	color: #333;
}

a {
	color: #e32d00;
	text-decoration: none;
}

a:hover, a:focus {
	color: #cc2900;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 1.2rem;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, .title-container, nav, section {
	display: block;
}

main, header, footer {
	width: 100%;
}

main {
  background-color: #f3f3f3;
  min-height: 100%;
	padding-bottom: 2rem;
}

footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  background-color: #050505;
  color: #ccc;
  font-size: 0.75rem;
  letter-spacing: 1px;
  padding: 2rem;
  text-transform: uppercase;
}


/* ====================== Skip Links ====================== */
.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background: #333;
	color: #e32d00;
	padding: 8px;
	z-index: 100;
}

.skip-link:focus {
	top: 0;
}


/* ====================== Header / Title Container ====================== */
.title-container {
  width: 100%;
	padding: 2rem;
  background-color: #050505;
  text-align:center;
}

.title-container h1 {
  margin: auto;
}

.title-container h1 a {
  color: #fff;
  font-size: 1.2rem;  /* 14pt */
  font-weight: 200;
  letter-spacing: 0.75rem;
  text-transform: uppercase;
}

.title-container h1 a:hover,
.title-container h1 a:focus {
  color: #cc2900;
	text-decoration: none;
}


/* ====================== Navigation / Breadcrumb ====================== */
#breadcrumb {
    padding: 0.75rem 2.5rem 1rem 2rem;
    list-style: none;
    background-color: #eee;
    font-size: 1rem;  /* 17px */
    margin: 0;
		width: inherit;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 0.5rem;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #e32d00;  /* #0275d8 */
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #cc2900;  /* #01447e */
    text-decoration: underline;
}


/* ====================== Map ====================== */
#map {
  height: 25rem;
	min-width: 100%;
  max-width: 100%;
  background-color: #ccc;
}

#map:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.leaflet-control-attribution a {
    color: rgb(204, 41, 0) !important;
    -webkit-tap-highlight-color: rgba(227, 45, 0, 0.4) !important;
}

.leaflet-control-attribution a:hover,
.leaflet-control-attribution a:focus {
    color: rgb(227, 45, 0) !important;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  width: 100%;
	margin-bottom: 2rem;
	padding: 0.85rem;
  background-color: #050505;
  align-items: center;
}

.filter-options #dropdown-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: inherit;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 1rem;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 0.8rem;  /* 10pt */
  height: 2rem;
  letter-spacing: 0;
  margin: 0.5rem;
  padding: 0 0.5rem;
  width: 100%;
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
	padding: 0;
  text-align: center;
}

#restaurants-list li {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 1rem 0;
  min-height: 24rem;
  text-align: left;
  width: 80%;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
	height: auto;
  min-width: 100%;
}

#restaurants-list .restaurant-info {
	padding: 0 1.8rem 1.6rem;
}

#restaurants-list li h1 {
  color: #e32d00;
  font-family: Arial,sans-serif;
  font-size: 1.2rem;  /* 14pt */
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 1.5rem 0 0.5rem;
  text-transform: uppercase;
}

#restaurants-list .icon-container {
  margin: 0 0 0.75rem;
}

#restaurants-list i.far.fa-heart {
  display: inline;
  color: #e32d00;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.3;
  text-transform: uppercase;
}

#restaurants-list i.far.fa-heart:hover,
#restaurants-list i.fas.fa-heart {
  display: inline;
  color: #e32d00;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 1rem;  /* 11pt */
}

#restaurants-list li a {
  background-color: #e32d00;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: .85rem;  /* 10pt */
  margin: 1rem 0 0;
  padding: 0.75rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


/* ====================== Restaurant Details ====================== */
#restaurant-container, #reviews-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

#restaurant-name {
  color: #cc2900;
  font-family: Arial,sans-serif;
  font-size: 1.75rem;  /* 20pt */
  font-weight: 200;
  letter-spacing: 0;
  margin: 1rem 0 1.5rem;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-name i.far.fa-heart {
  display: inline;
  color: #cc2900;
  font-weight: 200;
  text-transform: uppercase;
}

#restaurant-name i.far.fa-heart:hover, #restaurant-name i.fas.fa-heart {
  display: inline;
  color: #cc2900;
  font-weight: 900;
  text-transform: uppercase;
}

#restaurant-img {
	width: 100%;
	min-width: 100%;
}

#restaurant-address {
  font-size: 1rem;  /* 12pt */
	font-weight: bold;
  margin: 0.75rem 0;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;  /* 12pt */
  font-weight: 300;
  letter-spacing: 0.75rem;
  margin: 0 0 1rem;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-hours td {
  color: #666;
}

#reviews-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

#reviews-header span {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#reviews-header span h2 {
  display: inline-block;
  color: #cc2900;
  font-size: 2rem;  /* 24pt */
  font-weight: 300;
  letter-spacing: -1px;
  margin: 0;
}

#reviews-header span a {
  display: inline-block;
  background-color: #e32d00;
  color: #fff;
  font-size: 1.2rem;  /* 16pt */
  line-height: 1.5;
  margin: 1rem 0 0 2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#reviews-header span a:hover {
  background-color: #cc2900;
}

#reviews-list {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding-left: 0;
}

#reviews-list li {
	background-color: #fff;
	border: 2px solid #f3f3f3;
	border-radius: 40px 0 40px 0;
	display: block;
	list-style-type: none;
	margin: 0 0 2rem 0;
	padding: 0 0 1rem 0;
	overflow: hidden;
  width: 100%;
}

#reviews-list li p {
  margin: 0 0 0.85rem;
}

.review-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	background-color: #444;
	padding: 1.4rem 2rem 0.6rem 2rem;
}

.review-name {
	color: #fff;
	font-size: 1.3rem;  /* 16pt */
	font-weight: 200;
}

.review-date {
	color: #ccc;
	font-weight: 200;
}

.review-rating {
	display: inline-block;
	background-color: #e32d00;
	color: #fff;
	margin: 1rem 0 0 2rem;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.review-comments {
	padding-left: 2rem;
	padding-right: 2rem;
}


/* ====================== Reviews Form ====================== */

.reviews-form-container {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	background-color: #fff;
	padding: 0 0 2rem 0;
	overflow: hidden;
  width: 100%;
}

.reviews-form-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	background-color: #cc2900;
	padding: .75rem 2rem 0.4rem 2rem;
}

.reviews-form-header p {
  color: #fff;
	font-size: 1.6rem;  /* 16pt */
	font-weight: 200;
}

.reviews-form-body {
  background-color: #fff;
	border: 2px solid #f3f3f3;
	border-radius: 40px 0 40px 0;
	display: block;
	list-style-type: none;
	margin: 0 0 2rem 0;
	padding: 0 0 1rem 0;
	overflow: hidden;
}

.reviews-form-inner-container {
  max-width: 100%;
  margin: 1rem 2rem 0 2rem;
}

form {
  max-width: 100%;
}

#reviews-form .form-group {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

#reviews-form label {
  margin-top: 1.5rem;
  font-size: 1rem;
}

#reviews-form input, #reviews-form textarea {
  /* Thanks to this CodePen for this Material Design hack: https://codepen.io/lehollandaisvolant/pen/aNQNjx */
  /* 2 imgs : 2px gray line (normal state) AND 2px red line (focus state) */
  display: block;
	width: 100%;
  border: 0;
  outline: none;
  background: #fff no-repeat;
	background-image: linear-gradient(to bottom, #cc2900, #cc2900), linear-gradient(to bottom, #999, #999);
	/* sizes for the 2 images (default state) */
	background-size: 0 2px, 100% 2px;
	/* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
	background-position: 50% 100%, 50% 100%;

	/* animation solely on background-size */
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

  font-size: 0.95rem;
  font-weight: 400;
  color: #666;
}

#reviews-form input:focus, #reviews-form textarea:focus {
  /* Thanks to this CodePen for this Material Design hack: https://codepen.io/lehollandaisvolant/pen/aNQNjx */
  /* sizes for the 2 images (focus state) */
	background-size: 100% 2px, 100% 1px;
  outline: none;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
09
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

#reviews-form select {
  font-size: 0.95rem;
  color: #333;
}

#reviews-form input, #reviews-form select {
  height: 2rem;
}

#reviews-form button {
  display: inline-block;
  width: 8rem;
  font-size: 0.85rem;
  line-height: 1.5;
	margin: 2rem 0 0 0;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#reviews-form button#submit-button {
  background-color: #e32d00;
	color: #fff;
  border: 2px solid #e32d00;
}

#reviews-form button#back-button {
  background-color: #fff;
	color: #e32d00;
  border: 2px solid #e32d00;
}

#reviews-form button#submit-button:hover {
  background-color: #cc2900;
	color: #fff;
  border: 2px solid #cc2900;
}

#reviews-form button#back-button:hover {
  background-color: #e32d00;
	color: #fff;
}


/* ====================== Media Queries ====================== */
@media screen and (min-width: 400px) {
	body, td, th, p, ul, li {
		font-size: 1.2rem;  /* 14pt */
	}

	footer {
		font-size: 0.89rem;  /* 10 pt */
	}

	.title-container h1 a {
		font-size: 1.75rem;  /* 20pt */
	}

	.filter-options #dropdown-container {
		flex-wrap: nowrap;
	}

	.filter-options select {
		width: 50%;
		font-size: 0.92rem;  /* 11pt */
	}

	#restaurants-list li h1 {
		font-size: 1.58rem;  /* 18pt */
	}

	#restaurants-list p {
		font-size: 1.2rem;  /* 14pt */
	}

	#restaurants-list li a {
	  font-size: 1.1rem;  /* 13pt */
	}

	#restaurant-cuisine, #restaurant-address {
		font-size: 1.3rem;
	}

  .review-name {
    font-size: 1.6rem;
  }

  .reviews-form-header p {
  	font-size: 2rem;  /* 16pt */
  }

  #reviews-form .form-group {
    margin-top: 1rem;
  }

  #reviews-form label {
    font-size: 1.2rem;
  }

  #reviews-form input, #reviews-form textarea {
    font-size: 1.1rem;
  }

  #reviews-form select {
    font-size: 1.05rem;
  }

  #reviews-form button {
    width: 10rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 600px) and (max-width:899px) {
	#restaurants-list {
		align-content: flex-start;
	}

	#restaurants-list li:nth-child(odd) {
		width: 37.5%;
		margin-right: 5%;
	}

	#restaurants-list li:nth-child(even) {
		width: 37.5%;
		margin-right: 0;
	}

  .reviews-form-header p, form {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
	#restaurants-list {
		justify-content: flex-start;
		align-content: flex-start;
	}

	#restaurants-list li:nth-of-type(3n+1) {
		width: calc(70% / 3);
		margin-left: 10%;
		margin-right: 5%;
	}

	#restaurants-list li:nth-of-type(3n+2) {
		width: calc(70% / 3);
		margin-right: 5%;
	}

	#restaurants-list li:nth-of-type(3n) {
		width: calc(70% / 3);
		margin-right: 10%;
	}

	#restaurant-container, #reviews-container, .reviews-form-inner-container {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

  .reviews-form-header p, form {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
	#restaurants-list {
		justify-content: flex-start;
		align-content: flex-start;
	}

	#restaurants-list li:nth-of-type(4n+1) {
		width: calc(75% / 4);
		margin-left: 5%;
		margin-right: 5%;
	}

	#restaurants-list li:nth-of-type(4n+2), #restaurants-list li:nth-of-type(4n+3),
	#restaurants-list li:nth-of-type(4n) {
		width: calc(75% / 4);
		margin-right: 5%;
	}

	#restaurant-container, #reviews-container, .reviews-form-inner-container {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

  .reviews-form-header p, form {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
